:root {
  --bg: #363636; /* slate-900 */
  --text: #ffffff; /* slate-200 */
  --accent: #22d3ee; /* cyan-400 */
  --main-color: #006631;
}

body {

  margin: 0;
  background: #f8f9fa;
  color: #333;
}

h3 {
  margin-bottom: 10px;
}

h3, h2 {
    margin-top: 10px;
    color: #006631;
    font-size: 1.7rem
}

p, ul, li, blockquote {
  font-size: 1.2rem;
}

/* HERO */
.post-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #28a745;
  color: white;
  height: 70vh;
  text-align: center;
  padding: 0px 20px;
  background-image: url(../img/769.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#mainHeader {
  justify-self: center;
    justify-content: space-between;
    max-width: 1200px;
}

.text-post-hero {
    background: linear-gradient(135deg, rgba(90, 90, 90, 0.342), rgba(59, 59, 59, 0.267));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 30px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 30px;
}

.post-hero h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.post-hero .meta {
  font-size: 0.9rem;
  opacity: 0.9;
}

/* CONTEÚDO */
.post-container {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
}
.post-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.post-content {
  width: 70%;
}

.post-content h2 {
  margin-top: 30px;
  color: #006631;
}
.post-content p {
  line-height: 1.6;
  margin: 15px 0;
  color: #444;
}

/* BOTÃO VOLTAR */
.back-btn {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 20px;
  background: #006631;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s;
}
.back-btn:hover {
  background: #1a242f;
}

.outras-noticias {
  background: #f9f9f9;
  height: 200px;
  border-left: 4px solid #2e7d32;
  padding: 20px;
  margin-top: 40px;
  border-radius: 8px;
}

.outras-noticias h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #2e7d32;
}

.outras-noticias ul {
  list-style: none;
  padding: 0;
}

.outras-noticias li {
  margin-bottom: 12px;
}

.outras-noticias a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s;
  text-decoration: underline;
}

.outras-noticias a:hover {
  color: #2e7d32;
}


/* FOOTER */
footer {
  background: #2c3e50;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}
