@media (min-width: 0px) and (max-width: 1024px) {
#mainHeader {
    visibility: visible;
    margin-top: 30px;
}

#mainHeader i {
    font-size: 2em;
}

.post-container {
    flex-direction: column;
}

.outras-noticias {
    margin: 0px;
}

.post-content {
  width: 100%;
}

.outras-noticias {
    height: auto;
}
}