:root {
  --bg: #363636; /* slate-900 */
  --text: #ffffff; /* slate-200 */
  --accent: #22d3ee; /* cyan-400 */
  --main-color: #006631;
}

html {
  scroll-behavior: smooth;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  color: white;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/IMG_3252.webp);
}

.hero h1 {
  text-transform: uppercase;
  font-size: 4em;
}

.animate__container-contabilidade-title {
  display: flex;
  flex-direction: column;
  padding: 30px 50px 50px 50px;
  margin-bottom: 50px;
  background: linear-gradient(135deg, rgba(90, 90, 90, 0.342), rgba(59, 59, 59, 0.267));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  animation: animate__fadeInUp;
  animation-duration: 1s;
}

.about-service {
  display: flex;
  color: #006631;
  background-color: white;
  justify-content: space-around;
  align-items: center;
}

.container-about-service {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  gap: 20px;
  padding: 60px 30px 60px 120px;
  border-radius: 20px;
}

.about-service h2 {
  font-size: 2em;
  font-weight: 800;
}

.about-service p {
  font-size: 1.3em;
  color: #363636;
}

.trator-about-service {
  display: flex;
  background-image: url(../img/trator.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 50%;
  height: 700px;
}

.benefits {
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-beneficios {
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.benefits h2 {
  margin: 30px 0px;
  font-size: 3em;
  color: #006631;
}

.card-beneficios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(56, 56, 56);
  background-color: #006631;
  height: 500px;
  width: 50%;
  padding: 0px 10px;
  transition: all 0.2s ease-in;
  border-radius: 32px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
  color: white;
  gap: 20px;
  font-weight: 100;
  margin: 30px 10px;
}

.card-beneficios:hover {
  transform: scale(1.03);
}

.card-beneficios i {
  font-size: 1.3em;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  color: #006631;
}

.card-beneficios {
  
}

.card-beneficios strong {
  color: white;
  font-weight: 700;
  font-size: 1.1em;
}

.container-cards-beneficios {
  display: flex;
  width: 100%;
  padding: 0px;
  justify-content: space-around;
}
