:root {
  --bg: #363636; /* slate-900 */
  --text: #ffffff; /* slate-200 */
  --accent: #22d3ee; /* cyan-400 */
  --main-color: #006631;
}

html {
  scroll-behavior: smooth;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  color: white;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/IMG_3252.webp);
}

.hero h1 {
  text-transform: uppercase;
  font-size: 4em;
}

.animate__container-contabilidade-title {
  display: flex;
  flex-direction: column;
  padding: 30px 50px 50px 50px;
  margin-bottom: 50px;
  background: linear-gradient(135deg, rgba(90, 90, 90, 0.342), rgba(59, 59, 59, 0.267));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  animation: animate__fadeInUp;
  animation-duration: 1s;
}

.about-service {
  display: flex;
  color: #006631;
  background-color: white;
  justify-content: space-around;
  align-items: center;
}

.container-about-service {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  gap: 40px;
  padding: 60px 30px 60px 120px;
  border-radius: 20px;
}

.about-service h2 {
  text-transform: uppercase;
  font-size: 2.8rem;
  font-weight: 800;
}

.about-service p {
  font-size: 1.5rem;
  color: #363636;
}

.about-service a {
  font-size: 1.4rem;
}

.trator-about-service {
  display: flex;
  background-image: url(../img/trator.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 50%;
  height: 640px;
}

.benefits {
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 50px 0px;
}

.container-beneficios {
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.benefits h2 {
  margin: 30px 0px 0px 0px;
  font-size: 3em;
  color: #006631;
  text-align: center;
}

.benefits p {
  font-style: italic;
  opacity: 0.9;
  
}

.card-beneficios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 3px solid rgba(56, 56, 56, 0);
  background-color: rgb(233, 233, 233);
  height: auto;
  width: 50%;
  padding: 50px 30px 20px 30px;
  transition: all 0.2s ease-in;
  border-radius: 1.6rem;
  text-align: left;
  font-size: 1.5em;
  cursor: pointer;
  color: #363636;
  gap: 10px;
  font-weight: 100;
  margin: 30px 10px;
}

.card-beneficios:hover > .animate__button-beneficios {
  display: flex;
  visibility: visible;
  opacity: 1;

}

.card-beneficios:hover > p,
.card-beneficios:hover > strong {
  transform: translateY(-10px);

}

.card-beneficios i {
  font-size: 1.3em;
  display: flex;
  position: relative;
  top: -30px;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 1px solid #36363644;
  padding: 30px;
  border-radius: 50%;
  transition: all 0.2s ease-in;
  color: #006631;
}

.card-beneficios p {
  transition: all 0.2s ease-in;
  font-size: 16px;
}

.card-beneficios strong {
  transition: all 0.2s ease-in;
  color: #006631;
  font-size: 1.1em;
  font-weight: bold;
}

.animate__button-beneficios {
  background-color: #006631;
  font-size: 1.1rem;
  color: white;
  border-radius: 30px;
  text-decoration: none;
  padding: 3px 20px;
  visibility: hidden;
   opacity: 0.3;
  transition: all ease-in 0.2s;
}

.container-cards-beneficios {
  display: flex;
  width: 90%;
  justify-content: space-around;
  padding: 0px;
}

.cta {
  background-image: url(../img/vista-frontal-da-paisagem-com-vegetacao.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding: 80px 0px;
}

.container-cta {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 50vh;
  padding: 30px;
  font-size: 1.4em;
  margin: 80px 0px;
  border-radius: 32px;
  align-items: center;
  background-color: white;
  border: 1px solid #363636;
}

.cta-card-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0px 30px;
  width: 50%;
}

.button-quem-somos {
  width: 30%;
  margin: 0px;
  text-align: center;
}

#button-quem-somos {
  margin: 0px;
}

.img-card-cta {
  display: flex;
  width: 50%;
  background-image: url(../img/img-main-bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 32px;
  height: 100%;
}

