@media (min-width: 900px) and (max-width: 1024px)  {

  .animate__home-content {
    display: flex;
    align-items: center;
    justify-content: left;
  background-position-x: left;
  background-position-y: -60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/img-main-bg-min-mobile.webp);
  width: 100%;
  height: 100vh;
} 

.title-main-div > h1 {
  letter-spacing: 0px;
  font-size: 2.2rem;
  line-height: normal;
}

.title-main-div > p {
  font-size: 1rem;
  
}

.container-quem-somos {
  flex-direction: column;
}

.text-quem-somos {
  width: 80%;
  margin-top: 50px;
}

.sobre-nos-img {
  display: flex;
  width: 100%;
  background-position-y: -320px;
}

.container-beneficios {
  flex-direction: column;
}

.google-map {
  width: 80%;
}

}

@media (min-width: 0px) and (max-width: 900px)  {

  #mainHeader {
    visibility: hidden;
  }

  .header-mobile {
    visibility: visible;
  }

  header {
      position: fixed;
      top: 0;
      left: 0;
      width: 90%;
      height: 60px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      z-index: 1000;
    }

    .icon-agro-header {
      margin-top: 15px;
    }

    /* MENU HAMBURGUER */
    .menu-btn {
      width: 30px;
      height: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      z-index: 1000;
    }

    .menu-btn span {
      display: block;
      height: 3px;
      width: 100%;
      background: white;
      border-radius: 5px;
      transition: 0.3s ease;
      box-shadow: 0px 0px 2px #252525;
    }

    /* ANIMAÇÃO MENU ATIVO */
    .menu-btn.active span:nth-child(1) {
      transform: rotate(45deg) translateY(10px);
    }
    .menu-btn.active span:nth-child(2) {
      opacity: 0;
    }
    .menu-btn.active span:nth-child(3) {
      transform: rotate(-45deg) translateY(-13px);
    }

    /* MENU LATERAL */
    #mobileMenu {
      position: fixed;
      top: 30;
      right: -100%;
      width: 70%;
      height: 100%;
      background: linear-gradient(135deg, rgba(29, 29, 29, 0.342), rgba(59, 59, 59, 0.267));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 30px;
      transition: right 0.4s ease;
      z-index: 2;
    }

    #mobileMenu.active {
      right: 0;
    }

    nav a {
      color: white;
      -webkit-tap-highlight-color: transparent;
      font-size: 1.2rem;
      text-decoration: none;
      transition: color 0.3s;
    }

    /* Animação suave dos links */
    nav a {
      opacity: 0;
      transform: translateX(20px);
      transition: all 0.4s ease;
    }

    nav.active a {
      opacity: 1;
      transform: translateX(0);
    }
  
  .nav-bar-main {
    visibility: hidden;
  }
  .title-main-div {
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 30px 0px;
    padding: 20px;
  }

  .coluna-cardns-01 {
  justify-content: center;
  flex-wrap: wrap;
}

.card-ns {
  width: 90%;
  padding: 60px 30px;
}

#button-ns-card {
    border: 2px solid var(--text);
    color: var(--text);
    width: 40%;
    text-align: center;
}

.container-nossos-servicos {
  padding-bottom: 90px;
}

  .title-main-div > h1 {
    line-height: normal;
    margin-bottom: 30px;
    font-size: 1.8em;
    margin-bottom: 10px;
}

  .title-main-div > p {
    font-size: 0.9em;
    width: 95%;
    margin-bottom: 15px;
  }

  .bar-button-home {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  #button-home2, #button-home1  {
  font-size: 12px;
  margin: 5px 0px;
  width: 100%;
  text-align: center;
  padding: 15px 0px;
  font-size: 1em;
  }

  #button-home1 {
    margin-right: 10px;
  }


  .animate__home-content {
    justify-content: center;
    align-items: end;
    background-size: cover;
    background-position:center;
    background-image: url(../img/img-main-bg-min-mobile.webp);
  }


  .sobre-nos-img {
    display: flex;
    background-image: url(../img/sobre-nos-img.webp);
    width: 400px;
    height: 350px;
    background-position-y: -150px;
    align-self: flex-end;
  }

  .text-quem-somos {
   font-size: 0.8em;
   width: 90%;
   padding: 0px;
   margin-top: 50px;
  }

  .container-quem-somos {
    display: flex;
    height: auto;
    flex-direction: column;
  }

  .container-avaliacao > h1{
    text-align: center;
  }

  .container-avaliacao {
    padding: 0px;
  }

  .card {
    padding: 10px 40px;
  }
  .element-prev {
    top: 30%;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    right: 0px;
  }

  .element-next {
    top: 30%;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    left: 0px;
  }

  .container-entre-em-contato > h1 {
    font-size: 4em;
  }


  .container-maps {
    padding: 20px 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .localizacao-vector {
    width: 100%;
    height: 50vh;
  }

  .google-map {
    width: 90%;
    height: 50vh;
    border-radius: 10px;
    }
  
  .hero h1 {
    font-size: 2em;
  }
  
  .hero p {
    font-size: 0.9em;
  }

  #header-nav06 {
    font-size: 0.9em;
    margin: 0;
    padding: 10px 15px;
  }
  
  .about-service {
    display: flex;
    flex-direction: column;
  }

  .trator-about-service {
    width: 100%;
    height: 400px;
    background-size: cover;
  }

  .about-service h2 {
  font-size: 2em;
  font-weight: 800;
  }

  #button-quem-somos {
    margin: 0px;
  }

  .container-beneficios {
  flex-direction: column;
  gap: 30px;
 }

 .card-beneficios {
  margin: 0px;
  width: 90%;
  padding: 0px;
 }

 .benefits p {
  text-align: center;
  margin-bottom: 15px;
 }

  .container-about-service {
    display: flex;
  width: 90%;
  padding: 30px 15px 0px 15px;
  text-align: center;
  align-items: center;
  justify-content: center;
  }

  .container-cards-beneficios {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
  }

  .cta {
    padding-top: 0px;
  }

  .container-cta {
    flex-direction: column-reverse;
    height: auto;
    padding: 15px;
  }
  
  .cta-card-text {
    width: 100%;
    margin-top: 10px;
  }

  .blog-container-cards {
    flex-direction: column;
    gap: 20px;
  }

  .card-blog {
    width: 90%;
  }

  .blog-container {
    padding: 0px 0px 40px 0px;
  }

  .img-card-cta {
    height: 300px;
    width: 100%;
  }
}

